page-groupchat {

    .username_fbd {
        color: #afafaf;
    }
    .chatmessage {
        padding: 10px !important;
        transition: all 250ms ease-in-out !important;
        border-radius: 10px !important;
        margin-bottom: 4px !important;
    }
    .message-from-me {
        background: color($colors, primary) !important;
        color: #fff !important;
    }
    .chat-group-message-other {
        background: #472821 !important;
        color: #fff !important;
    }
    .arrivaltime {
        color: #afafaf;
        float: right;
        font-size: small;
    }
    .message_ion_row {
        background-color: #fff;
    }
    .onlineClients{
        color: rgb(10, 175, 120);
    }
    .previousMessage{
        text-align: center;
        color: red;
    }
}
